<div class="user-details">
  <h1>Accomplishments</h1>
  <h4>Passionate</h4>
  <p>
    For over a year, I dedicated myself to attending over 240 yoga classes,
    exploring diverse styles and practices. This immersive experience allowed me
    to deepen my understanding and passion for yoga. I embraced the opportunity
    to expand my knowledge and skills on the mat.
  </p>

  <h4>Continual Growth</h4>
  <p>
    Engaged in over 15 workshops covering diverse subjects including breath
    work, fostering diversity, inclusivity, and equity in yoga, among others.
    These experiences continually expand my understanding and skill set as a
    yoga teacher, enriching my practice and teaching approach to better serve my
    students.
  </p>

  <h4>Deep Immersion</h4>
  <p>
    I've attended two impactful week-long yoga retreats, immersing myself fully
    in the practice and experiencing significant personal growth. These retreats
    have been instrumental in deepening my understanding of yoga and cultivating
    a stronger connection to my practice. Through intensive immersion, I've
    gained invaluable insights and skills that enrich both my personal journey
    and teaching approach.
  </p>
</div>
