<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="First Project" src="https://media4.giphy.com/media/Fzk5fpu6B3c58RtoA2/giphy.gif?cid=790b76118f1bb499849226c585868154ecea358db06b29a6&rid=giphy.gif&ct=g" />
  </div>
  <div class="contents-right">
    <p> Attended over 240 classes
      exploring all different
      practices of yoga over a
      year</p>
      
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="First Project" src="https://media4.giphy.com/media/Fzk5fpu6B3c58RtoA2/giphy.gif?cid=790b76118f1bb499849226c585868154ecea358db06b29a6&rid=giphy.gif&ct=g" />
  </div>
  <div class="contents-right">
    <p> Participated in more than
      15 workshops varying in
      subjects like breath work,
      creating diversity,
      inclusivity, and equity in Yoga</p>
      
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="First Project" src="https://media4.giphy.com/media/Fzk5fpu6B3c58RtoA2/giphy.gif?cid=790b76118f1bb499849226c585868154ecea358db06b29a6&rid=giphy.gif&ct=g" />
  </div>
  <div class="contents-right">
    <p> yoga, and many more
      - Embarked on two
      life-changing week long
      yoga retreats</p>
      
  </div>
</div>