<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="page">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  
  
        <main role="main" class="inner cover">
          <h2>Interactive Background</h2>
          <p class="lead">This simple interactive background is made with <a href="https://threejs.org"
              target="_blank">ThreeJS</a> and a <a
              href="https://threejs.org/docs/#api/en/geometries/PlaneBufferGeometry"
              target="_blank">PlaneBufferGeometry</a> animated with Simplex noise.</p>
  
          <form style="width: 80%; margin: 0 auto;">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="noiseInput" class="form-label">Noise Coef</label>
                <input type="range" min="1" max="100" class="custom-range" id="noiseInput">
              </div>
              <div class="form-group col-sm-6">
                <label for="heightInput" class="form-label">Height Coef</label>
                <input type="range" min="1" max="100" class="custom-range" id="heightInput">
              </div>
            </div>
            <div class="form-group col-md-12">
              <a href="#" id="trigger" class="btn btn-sm btn-secondary">Random Colors</a>
            </div>
          </form>
        </main>
  
        <footer class="mastfoot mt-auto">
        </footer>
      </div>
    </div>
    
      {% include header.html %}
      <!-- <section id="about">
        {% include about.html %}
      </section>
      <section id="myyogastyle">
        {% include myyogastyle.html %}
      </section>
      <section id="Accomplishments">
        {% include accomplishments.html %}
      </section>
        {{ content }}
        <section id="certificate">
          {% include certificate.html %}
        </section>
          {{ content }}
      {% include footer.html %} -->

   
  </body>
